*{
    font-family: 'Roboto',sans-serif;
}
header {
    height: 50px; 
    background-color:#212121;
}
     
.menu{
    list-style-type:none;
    padding: 13px 70px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu .menu_link {
    text-decoration:none;
    color:#FFFFFF;
    font-weight: 300;
}
.menu .menu_item {
    border-right: 2px dotted;
    color: #000000;
    padding-right: 40px;
}